body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../img/pexels-jonathan-borba-3076514.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.left{
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 30px;
}
.left img{
    width: 120px;
    filter:invert(100%);
}
.left div{
    
    text-align: center;
}
.mid{
    display: block;
    width: 50%;
    margin: 30px auto; 
}
.right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 30px;
}
.navbar{
    display: inline-block;
}
.navbar li
{
    display: inline-block;
    font-size: 25px;

}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover,.navbar li a.active{
    color: grey;
}
.btn{
    margin: 0px 10px;
    background-color: black;
    color: white;
    padding: 5px 18px;
    border: 2px solid grey;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
}
.container{
    /* margin: 20px 30px; */
    padding-top: 180px;
    padding-left:865px;
    width: 30%;
    border-radius: 15px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 400px;
    padding: 5px;
    border: 2px solid black;
    margin: 6px auto;
    font-size: 15px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    color: #ffffff;
    background: rgb(41, 36, 36);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px
}
.container button{
    display: block;
    width: 50%;
    margin: auto;
}






@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
      /* background: center/cover no-repeat url('../img/alexander-jawfox-Kl2t5U6Gkm0-unsplash.jpg'); */
      font-size: 5px;
    }
    /* .navbar li{
        font-size: 5px;
    }
    .left img{
        width: 30px;
    }
    .left{
        font-size: 5px;
        left: 10px;
        top: 10px;
    }
    .mid{
        font-size: 5px;
        width: 80%;
        margin: 0px;

    }
    .navbar li a{
        font-size: 5px;
        padding: 3px 3px;
    }
    .right{
        margin-left: 150px;
    }
    .btn{
        font-size: 5px;
        
    }
    .container{
        padding-left: 0px;
    }
    .form-group input{
        width: 150px;
    }*/
  }
